/* CssReset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: border-box;       
}
/* cssreset */
/* body */
body {
    background-color: #EFE9E7;  
}
a{
    text-decoration: none !important;
}
/*header*/
.header {
    background: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header a {
    text-decoration:none;
    display:flex;
    align-items:center;
    float:left;
}
.header a h1 {
    padding-top: 5px;
    font-size: 30px;
    color: #FFFFFF;
}
.header a h2 {     
    margin-left:5px;
    padding-top: 10px;
    font-size: 24px;
    color: #FFFFFF;    
}
.header a img {
    padding-left: 10px;
    height: 50px;
    padding-top: 8px;
}
.alert_show{
    display:none;
    position:absolute;
    top:0;
    right:0;
    padding:15px;
}
/* wrap */
.wrap {
    max-width: 400px;
    margin: 0 auto;
}

/* footer */
.footer h2 {
    text-align: center;
    padding: 10px;
    background-color: #3f0303;
    color: white;
}