@{
    ViewData["Title"] = "商品";
    Layout = "_Products";
}
<a href="#" class="top"><img src="/image/top.png" alt="thank"></a>              
<div class="alert_cart" role="alert"><div class="alert alert-success alert_cart_show">已加入購物車</div></div>
<div class="wrap">
    <img src="/image/Product.jpg" alt="product">
    <div class="Products_wrap">
        <div class="sort">
            <input type="search" v-model="search" style="font-family: FontAwesome;" placeholder='&#xf002  搜尋商品'class="search">
            <h3>分類</h3>
            <ul class="nav">
                <li><a href="#" v-on:click.prevent="viewSort('All')">全部商品</a></li>
                <li><a href="#" v-on:click.prevent="viewSort('Cake')">蛋糕</a></li>
                <li><a href="#" v-on:click.prevent="viewSort('Dessert')">甜點</a></li>
                <li><a href="#" v-on:click.prevent="viewSort('Bread')">麵包</a></li>
            </ul>
        </div>
        <div class="Products">
            <ul>
                <li class="Product_item" v-for="(product,key) in filterProducts" :key="product.productId">
                    <a :href=`/Home/ProductMore/?id=${product.productId}` target="_blank">
                        <div class="upper">
                            <img :src="product.productImg">
                            <h5 id="product_name" class="product_name">{{product.productName}}</h5>
                            <p id="product_price" class="product_price">${{product.productPrice}}</p>
                        </div>                       
                    </a>
                    <div class="lower Product_item_lower">
                       
                        <a :href=`/Home/ProductMore/?id=${product.productId}` target="_blank" class="btn btn-light btn_big more">
                            <i class="fas fa-search"></i>查詢更多
                        </a>
                        <button class="btn btn-info btn-block  btn_big" type="button" v-on:click="addcart(product.productId)" :data-id=product.productId><i class="fas fa-cart-plus"></i>加入購物車</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>