@using Microsoft.AspNetCore.Identity
@using Project.Areas.Identity.Data
@inject SignInManager<ProjectUser> SignInManager
@inject UserManager<ProjectUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ico圖片 -->
    <link rel="shortcut icon" href="~/image/blackCat.ico">
    <!-- vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- Css -->
    <link href="~/css/OrderDetails.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body id="app">
    <div class="header">
        <a asp-action="index" asp-controller="Home">
            <img src="https://upload.cc/i1/2021/04/29/nzI4rv.png" alt="logo">
            <h1>CatBakery</h1>
            <h2>@ViewData["Title"]</h2>
        </a>       
    </div>
    @RenderBody()
    <div class="footer">
        <h2>僅練習使用．不做商業用途</h2>
    </div>
    <script src="~/js/OrderDetails.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
