@{
    ViewData["Title"] = "結帳完成";
    Layout = "_Complete";
}
<div class="wrap">
    <img src="/image/Product.jpg" alt="product">
    <div class="container">
        <div class="wrapBody">
            <!-- 感謝標語 -->
            <div class="col-md-12 text-center">
                <img src="/image/thank.png" alt="thank">
                <span class="icon-check_circle display-3 text-success"></span>
                <h2 class="display-4 text-white font-weight-bold">謝謝您的購買</h2>
                <p class="lead mb-5 text-white">您的訂單已完成</p><span id="time"class="text-white"></span><span class="text-white">秒後回到首頁</span>
            </div>
            <!-- 繼續購物按鈕 -->
            <div class="col-md-8 text-center btn-box">                
                <a href="http://localhost:54515/" class="btn btn-sm btn-primary btn-block" type="button">回到首頁</a>
            </div>
        </div>
    </div>
</div>